@charset "utf-8";
/* OUIF | JCM */
/* Element Reset */
body, input, textarea, select, table, button {font-family:Tahoma, sans-serif; font-size:12px;}
img, fieldset {border:0;}
em, address {font-style:normal;}
button{ overflow:visible;}
a {text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:underline;}
