@charset "utf-8"; 

/* CSS Document */

.tagCloud{ font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:1.2; text-align:justify;}
.tagCloud a{ color:#767676;}
.tagCloud .i1{ font-size:10px;}
.tagCloud .i2{ font-size:12px;}
.tagCloud .i3{ font-size:14px;}
.tagCloud .i4{ font-size:18px;}
.tagCloud .i5{ font-size:24px;}
.tagCloud.fg .i1{ color:#bbb;}
.tagCloud.fg .i2{ color:#999;}
.tagCloud.fg .i3{ color:#666;}
.tagCloud.fg .i4{ color:#333;}
.tagCloud.fg .i5{ color:#000;}
.tagCloud.bg a{ color:#fff;}
.tagCloud.bg .i1{ background:#bbb;}
.tagCloud.bg .i2{ background:#999;}
.tagCloud.bg .i3{ background:#666;}
.tagCloud.bg .i4{ background:#333;}
.tagCloud.bg .i5{ background:#000;}
