@charset "utf-8";
/* NHN UIT Lab. */

/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {margin:0;padding:0;}
body, input, textarea, select, table {font-family:AppleGothic, sans-serif; font-size:12px;}
img, fieldset {border:0;}
hr {display:none;}
li {list-style:none;}
em, address {font-style:normal;}
a {text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:underline;}
.blind {position:absolute; top:0; left:0; width:1px; height:1px; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
