@charset "utf-8";
/* faq */
.faq{border-bottom:1px solid #ddd}
.faq .faqHeader{position:relative;zoom:1}
.faq .faqHeader .showAll{position:absolute;bottom:0;right:0;border:0;padding:0;overflow:visible;background:none;cursor:pointer}
.faq ul{list-style:none;margin:0;padding:0}
.faq .q{margin:0;border-top:1px solid #ddd}
.faq .q a{display:block;padding:.5em 1em;text-align:left;font-weight:bold;background:#fafafa;text-decoration:none !important}
.faq .q a:hover, .faq .q a:active, .faq .q a:focus{color:#000;background:#f8f8f8}
.faq .a{margin:0;padding:1em;line-height:1.5}
