@charset "utf-8"; 
/* NUIF : HJS */

/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button{margin:0; padding:0;}
body, input, textarea, select, table{font-family:"돋움", Dotum, AppleGothic, Sans-serif; font-size:12px;}
img, fieldset, button{border:0;}
hr{display:none;}
li{list-style:none;}
em, address{font-style:normal;}
a{text-decoration:none;}
a:hover, a:active, a:focus{text-decoration:underline;}
.blind{overflow:hidden; visibility:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0;}

/* Layout */
#wrap{margin:20px; width:700px;}
#wrap h1, #wrap h2{float:left; clear:both; margin:20px 0;}

/* Tab (기본) */
.tab{float:left; clear:both; width:100%; border-bottom:1px solid #d2d3d5;}
.tab *{float:left; /* UTF-8 일때만 */font-family:Sans-serif; line-height:15px;}
.tab li{margin:0 -1px -1px 0;}
.tab li span{border:1px solid #e2e2e2; border-bottom:0; background:#fbfbfb;}
.tab li span a{padding:6px 19px 3px; color:#888; text-decoration:none;}
.tab li.on span{position:relative; border:1px solid #d2d3d5; border-bottom:0; background:#fff;}
.tab li.on span a{border-bottom:1px solid #fff; color:#000;}

/* Tab (변형) */
.tab_strain li span{margin-top:2px;}
.tab_strain li.on span{margin-top:0px;}
.tab_strain li.on span a{padding-top:8px;}

/* Tab (색상 패턴) */
ul.tab_orange,
ul.tab_orange li.on span{border-color:#b16a00;} /* 활성화된 메뉴선색 */
ul.tab_orange li span{border-color:#d7ab69; background:#ffe8c5;} /* 비활성화된 메뉴선, 배경색 */
ul.tab_orange li span a{color:#946f37;} /* 비활성화된 메뉴 글자색 */
ul.tab_orange li.on span a{border-color:#f90; background:#f90; color:#fff;} /* 활성화된 메뉴선, 배경, 글자색 */