@charset "utf-8"; 

/* Input & Textarea */
.iClear{ position:relative; display:inline-block; font:12px Tahoma, Geneva, sans-serif;}
.iLabel{ display:block; position:static; top:4px; left:5px; color:#666;}
.iText, 
textarea{ padding:3px 4px; font:12px Tahoma, Geneva, sans-serif; border:1px solid #b7b7b7; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; background:transparent; color:#666;}
