@charset "utf-8";
/* OUIF | JCM */

/* Button Area */
.btnArea{ margin:1em 0; text-align:center; *zoom:1;}
.btnArea:after{ content:""; display:block; clear:both;}
.btnArea .fLeft{ float:left;}
.btnArea .fRight{ float:right;}
