<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Multi Column Layout</title>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/layout@style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="xe" class="hybrid">
	<div id="container" class="c">
		<div id="header"> <a href="#content" class="skipToContent">Skip to content</a>
			<h1>Header</h1>
			<hr />
			<div class="extension">
				<ul>
					<li>About W3C</li>
					<li>About W3C Membership</li>
					<li>W3C Supporters Program</li>
					<li>Introduction to Web Site</li>
					<li>Search, Site Index, Keywords</li>
					<li>Mail Archive Search</li>
					<li>FAQs</li>
				</ul>
			</div>
		</div>
		<hr />
		<div id="body">
			<div id="content">
				<h2>Content</h2>
				<div class="section">
					<h3>W3C Develops Web Standards and Guidelines</h3>
					<p>W3C primarily pursues its mission through the creation of Web standards and guidelines. Since 1994, W3C has published more than 110 such standards, called W3C Recommendations. W3C also engages in education and outreach, develops software, and serves as an open forum for discussion about the Web. In order for the Web to reach its full potential, the most fundamental Web technologies must be compatible with one another and allow any hardware and software used to access the Web to work together. W3C refers to this goal as “Web interoperability.” By publishing open (non-proprietary) standards for Web languages and protocols, W3C seeks to avoid market fragmentation and thus Web fragmentation.</p>
					<p>Tim Berners-Lee and others created W3C as an industry consortium dedicated to building consensus around Web technologies. Mr. Berners-Lee, who invented the World Wide Web in 1989 while working at the European Organization for Nuclear Research (CERN), has served as the W3C Director since W3C was founded, in 1994. </p>
				</div>
			</div>
			<hr />
			<div class="extension e1">
				<div class="section">
					<h2>Extension 1</h2>
					<ul>
						<li>About W3C</li>
						<li>About W3C Membership</li>
						<li>W3C Supporters Program</li>
						<li>Introduction to Web Site</li>
						<li>Search, Site Index, Keywords</li>
						<li>Mail Archive Search</li>
						<li>FAQs</li>
					</ul>
				</div>
				<div class="section">
					<h2>Extension 1</h2>
					<ul>
						<li>About W3C</li>
						<li>About W3C Membership</li>
						<li>W3C Supporters Program</li>
						<li>Introduction to Web Site</li>
						<li>Search, Site Index, Keywords</li>
						<li>Mail Archive Search</li>
						<li>FAQs</li>
					</ul>
				</div>
				<div class="section">
					<h2>Extension 1</h2>
					<ul>
						<li>About W3C</li>
						<li>About W3C Membership</li>
						<li>W3C Supporters Program</li>
						<li>Introduction to Web Site</li>
						<li>Search, Site Index, Keywords</li>
						<li>Mail Archive Search</li>
						<li>FAQs</li>
					</ul>
				</div>
			</div>
			<hr />
			<div class="extension e2">
				<div class="section">
					<h2>Extension 2</h2>
					<ul>
						<li>About W3C</li>
						<li>About W3C Membership</li>
						<li>W3C Supporters Program</li>
						<li>Introduction to Web Site</li>
						<li>Search, Site Index, Keywords</li>
						<li>Mail Archive Search</li>
						<li>FAQs</li>
					</ul>
				</div>
				<div class="section">
					<h2>Extension 2</h2>
					<ul>
						<li>About W3C</li>
						<li>About W3C Membership</li>
						<li>W3C Supporters Program</li>
						<li>Introduction to Web Site</li>
						<li>Search, Site Index, Keywords</li>
						<li>Mail Archive Search</li>
						<li>FAQs</li>
					</ul>
				</div>
				<div class="section">
					<h2>Extension 2</h2>
					<ul>
						<li>About W3C</li>
						<li>About W3C Membership</li>
						<li>W3C Supporters Program</li>
						<li>Introduction to Web Site</li>
						<li>Search, Site Index, Keywords</li>
						<li>Mail Archive Search</li>
						<li>FAQs</li>
					</ul>
				</div>
			</div>
		</div>
		<hr />
		<div id="footer">
			<div class="extension">
				<ul>
					<li>About W3C</li>
					<li>About W3C Membership</li>
					<li>W3C Supporters Program</li>
					<li>Introduction to Web Site</li>
					<li>Search, Site Index, Keywords</li>
					<li>Mail Archive Search</li>
					<li>FAQs</li>
				</ul>
			</div>
			<hr />
			<address>
			Copyright &copy; <abbr title="Xpress Engine">XE</abbr>. All Rights Reserved.
			</address>
		</div>
	</div>
</div>
</body>
</html>
