@charset "utf-8";
/* OUIF | JCM */
/* List Section */
.listSection{ position:relative; border:1px solid #ddd; font-size:12px; line-height:normal; *zoom:1; background:#fff;}
.listSection a{ text-decoration:none; color:#666;}
.listSection a:hover,
.listSection a:active,
.listSection a:focus{ text-decoration:underline;}
.listSection em{ font-style:normal;}
.listSection h2{ font-size:12px; margin:0; padding:10px 0 8px 13px; color:#333; border-bottom:1px solid #ddd;}
.listSection h2 em{ color:#cf3292;}
.listSection ul{ margin:13px; padding:0; list-style:none;}
.listSection li{ position:relative; margin:0 0 10px 0;}
.listSection li:after{ content:""; display:block; clear:both;}
.listSection li a{ float:left; clear:left;}
.listSection li .time{ float:right; clear:right; color:#a8a8a8; font:11px Tahoma; white-space:nowrap;}
.listSection .more{ position:absolute; top:10px; right:13px; font:11px Dotum, 돋움; text-decoration:none !important;}
.listSection .more span{ font-weight:bold; color:#d76ea9; font-size:16px; vertical-align:middle; margin:0 2px 0 0;}
