@charset "utf-8";
/* OUIF | JCM */
/* Lined Tab */
.listTab{ height:160px;}
.listTab ul{ position:relative; margin:0; padding:0; list-style:none; border-bottom:1px solid #ccc; font-family:Tahoma, Sans-serif; font-size:12px; *zoom:1;}
.listTab ul:after{ content:""; display:block; clear:both;}
.listTab li{ float:left; margin-bottom:-1px;}
.listTab li a{ position:relative; float:left; text-decoration:none; border:1px solid #eee; border-bottom-color:#ccc; background:#fafafa; color:#666;}
.listTab li a span{ display:inline-block; padding:6px 25px 6px 25px; letter-spacing:-1px; cursor:pointer;}
.listTab li ul{ display:none; width:100%; position:absolute; top:40px; left:0; list-style:none; border:0; margin:0; padding:0; *zoom:1;}
.listTab li ul:after{ content:""; display:block; clear:both;}
.listTab li li{ float:none; position:relative; margin:0 0 8px 0; color:#999;}
.listTab li li a{ float:none; padding:0; margin:0; border:0 !important; color:#666 !important; font-weight:normal; background:transparent; letter-spacing:normal;}
.listTab li li a:hover,
.listTab li li a:active,
.listTab li li a:focus{ color:#000 !important; text-decoration:underline;}
.listTab li li.more{ position:absolute; top:-30px; right:0; border:0 !important; background:transparent;}
.listTab.m1 .m1 a,
.listTab.m2 .m2 a,
.listTab.m3 .m3 a,
.listTab.m4 .m4 a,
.listTab.m5 .m5 a,
.listTab.m6 .m6 a,
.listTab.m7 .m7 a,
.listTab.m8 .m8 a,
.listTab.m9 .m9 a,
.listTab.m10 .m10 a,
.listTab.m11 .m11 a,
.listTab.m12 .m12 a{ border:1px solid #ccc; border-bottom:1px solid #fff; margin-top:-1px; background:transparent; color:#333;}
.listTab.m1 .m1 a span,
.listTab.m2 .m2 a span,
.listTab.m3 .m3 a span,
.listTab.m4 .m4 a span,
.listTab.m5 .m5 a span,
.listTab.m6 .m6 a span,
.listTab.m7 .m7 a span,
.listTab.m8 .m8 a span,
.listTab.m9 .m9 a span,
.listTab.m10 .m10 a span,
.listTab.m11 .m11 a span,
.listTab.m12 .m12 a span{ padding-top:7px; font-weight:bold;}
.listTab.m1 .m1 ul,
.listTab.m2 .m2 ul,
.listTab.m3 .m3 ul,
.listTab.m4 .m4 ul,
.listTab.m5 .m5 ul,
.listTab.m6 .m6 ul,
.listTab.m7 .m7 ul,
.listTab.m8 .m8 ul,
.listTab.m9 .m9 ul,
.listTab.m10 .m10 ul,
.listTab.m11 .m11 ul,
.listTab.m12 .m12 ul{ display:block;}

/* jsOff */
.listTab.jsOff{ height:auto;}
.listTab.jsOff ul{ border:0;}
.listTab.jsOff li{ float:none; position:relative;}
.listTab.jsOff li a{ float:none; display:block; font-weight:bold; color:#333; border:1px solid #eee !important; border-bottom-color:#ccc !important; background:#fafafa !important;}
.listTab.jsOff li ul{ position:static; display:block; left:0; top:0; padding:5px 0;}
.listTab.jsOff li li a{ display:inline; border:0 !important; background:none !important; font-weight:normal;}
.listTab.jsOff li li.more{ top:7px; right:15px;}
