@charset "utf-8";
/* Tab Navigation */
.tab{padding:0 0 35px 0}
.tab ul{position:relative;margin:0;padding:0;_padding:2px 0 0 0;list-style:none;border-bottom:2px solid #315593;font-family:Tahoma, Sans-serif;font-size:12px;*zoom:1}
.tab ul:after{content:"";display:block;clear:both}
.tab li{float:left;margin-right:1px;background:#4CB1E5}
.tab li a,
.tab li a span{position:relative;cursor:pointer}
.tab li a{float:left;text-decoration:none}
.tab li a span{display:inline-block;padding:6px 25px 6px 25px;color:#fff}
.tab li ul{width:100%;position:absolute;top:40px;left:0;list-style:none;border:0;margin:0;padding:0;white-space:nowrap;overflow:hidden;*zoom:1}
.tab li ul:after{content:"";display:block;clear:both}
.tab li li{position:relative;left:-1px;padding:0 10px;border-left:1px solid #ddd;overflow:visible;background:transparent !important}
.tab li li a{padding:0;margin:0;font-weight:normal;color:#666}
.tab li.active{background-color:#315593;margin-top:-1px}
.tab li.active a span{padding-top:7px;padding-bottom:7px;font-weight:bold;letter-spacing:-1px}
.tab li li a:hover,
.tab li li a:active,
.tab li li a:focus,
.tab li li.active a{font-weight:bold;letter-spacing:-1px;color:#333}
/* JS Off */
.tab.jx{padding:0}
.tab.jx ul{border:0}
.tab.jx li{float:none}
.tab.jx li a{float:none;font-weight:bold}
.tab.jx li ul{display:block;position:static;padding:5px 0;left:0;top:0;background:#fff}
.tab.jx li li{display:inline}
.tab.jx li li a{font-weight:normal !important;color:#666;letter-spacing:normal}
.tab.jx li li a:hover,
.tab.jx li li a:active,
.tab.jx li li a:focus{text-decoration:underline}