@charset "utf-8"; 

/* Faced Tab */
.facedTab{ padding:0 0 35px 0;}
.facedTab ul{ position:relative; margin:0; padding:0; _padding:2px 0 0 0; list-style:none; border-bottom:2px solid #315593; font-family:Tahoma, Sans-serif; font-size:12px; *zoom:1;}
.facedTab ul:after{ content:""; display:block; clear:both;}
.facedTab li{ float:left; margin-right:1px; background:#4CB1E5;}
.facedTab li a,
.facedTab li a span{ position:relative; cursor:pointer;}
.facedTab li a{ float:left; text-decoration:none;}
.facedTab li a span{ display:inline-block; padding:6px 25px 6px 25px; color:#fff;}
.facedTab li ul{ display:none; width:100%; position:absolute; top:40px; left:0; list-style:none; border:0; margin:0; padding:0; white-space:nowrap; overflow:hidden; *zoom:1;}
.facedTab li ul:after{ content:""; display:block; clear:both;}
.facedTab li li{ position:relative; left:-1px; padding:0 10px; border-left:1px solid #ddd; overflow:visible; background:transparent;}
.facedTab li li a{ padding:0; margin:0; font-weight:normal; color:#666;}
.facedTab.m1 .m1,
.facedTab.m2 .m2,
.facedTab.m3 .m3,
.facedTab.m4 .m4,
.facedTab.m5 .m5,
.facedTab.m6 .m6,
.facedTab.m7 .m7,
.facedTab.m8 .m8,
.facedTab.m9 .m9,
.facedTab.m10 .m10,
.facedTab.m11 .m11,
.facedTab.m12 .m12{ background-color:#315593; margin-top:-1px;}
.facedTab.m1 .m1 a span,
.facedTab.m2 .m2 a span,
.facedTab.m3 .m3 a span,
.facedTab.m4 .m4 a span,
.facedTab.m5 .m5 a span,
.facedTab.m6 .m6 a span,
.facedTab.m7 .m7 a span,
.facedTab.m8 .m8 a span,
.facedTab.m9 .m9 a span,
.facedTab.m10 .m10 a span,
.facedTab.m11 .m11 a span,
.facedTab.m12 .m12 a span{ padding-top:7px; padding-bottom:7px; font-weight:bold; letter-spacing:-1px;}
.facedTab.m1 .m1 ul,
.facedTab.m2 .m2 ul,
.facedTab.m3 .m3 ul,
.facedTab.m4 .m4 ul,
.facedTab.m5 .m5 ul,
.facedTab.m6 .m6 ul,
.facedTab.m7 .m7 ul,
.facedTab.m8 .m8 ul,
.facedTab.m9 .m9 ul,
.facedTab.m10 .m10 ul,
.facedTab.m11 .m11 ul,
.facedTab.m12 .m12 ul{ display:block;}
.facedTab li li a:hover,
.facedTab li li a:active,
.facedTab li li a:focus,
.facedTab.s1 .s1 a,
.facedTab.s2 .s2 a,
.facedTab.s3 .s3 a,
.facedTab.s4 .s4 a,
.facedTab.s5 .s5 a,
.facedTab.s6 .s6 a,
.facedTab.s7 .s7 a,
.facedTab.s8 .s8 a,
.facedTab.s9 .s9 a,
.facedTab.s10 .s10 a,
.facedTab.s11 .s11 a,
.facedTab.s12 .s12 a{ font-weight:bold; letter-spacing:-1px; color:#333;}

/* jsOff */
.facedTab.jsOff{ padding:0;}
.facedTab.jsOff ul{ border:0;}
.facedTab.jsOff li{ float:none;}
.facedTab.jsOff li a{ float:none; font-weight:bold;}
.facedTab.jsOff li ul{ display:block; position:static; padding:5px 0; left:0; top:0; background:#fff;}
.facedTab.jsOff li li{ display:inline;}
.facedTab.jsOff li li a{ font-weight:normal !important; color:#333; letter-spacing:normal;}
.facedTab.jsOff li li a:hover,
.facedTab.jsOff li li a:active,
.facedTab.jsOff li li a:focus{ text-decoration:underline;}
