@charset "utf-8";
/* OUIF : JCM */

/* Regular Box */
.section{ position:relative; font-size:12px; line-height:normal; border:1px solid #e9e9e9; background:#fff;}
.section .hx{ margin:0; padding:10px 0 7px 9px; font-size:12px; border:1px solid #fff; color:#333; background:#f7f7f7 url(bgSectionTitle.gif) repeat-x left bottom;}
.section .tx{ padding:10px; border-top:1px solid #e9e9e9; color:#666;}
.section .more{ position:absolute; top:9px; right:10px; color:#656565; font:11px Dotum, 돋움, Tahoma; text-decoration:none !important;}
.section .more span{ color:#6e89aa; font:14px/1 Tahoma;}

