@charset "utf-8"; 
/* OUIF : JCM */

/* Progress Bar */
span.pGraph{ position:relative; white-space:nowrap; line-height:normal;}
span.pGraph .pBar{ position:relative; display:inline-block; width:250px; height:14px; margin:0 5px 0 0; border:1px solid #ccc; background:#e9e9e9; font-size:11px;}
span.pGraph .pAction{ position:relative; display:inline-block; height:14px; border:1px solid #8c9bac; background:#99a6b6; margin:-1px;}
span.pGraph .pPercent{ font:16px Arial, Helvetica, sans-serif; color:#ccc;}
span.pGraph .pPercent strong{ font-size:18px; color:#e88b30;}
span.pGraph .pNum{ position:absolute; left:5px; top:3px; color:#666; font:11px Tahoma, Geneva, sans-serif;}
