/* OUIF : JCM */
/* Pagination */
.pagination{ padding:15px 0; text-align:center; line-height:normal;}
.pagination *{ position:relative; font-size:12px; font-weight:bold; color:#323232; font-family:Tahoma, Sans-serif; vertical-align:middle; display:inline-block; text-decoration:none; padding:0 8px; margin:0 -3px; line-height:16px; border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; background-color:#fff; z-index:1;}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{ background-color:#f8f8f8;}
.pagination strong{ color:#ff8600;}
.pagination .direction{ font-weight:normal; color:#767676; text-decoration:none !important; border:0; background-image:url(arrowPagination.gif); background-repeat:no-repeat;}
.pagination .direction:hover,
.pagination .direction:active,
.pagination .direction:focus{ color:#323232; background-color:#fff;}
.pagination .prev{ padding-left:14px; background-position:left top; border-right:1px solid #d6d6d6 !important; z-index:2;}
.pagination .next{ padding-right:14px; background-position:right top; border-left:1px solid #d6d6d6 !important; z-index:2;}
.pagination .prevEnd{ padding-left:18px; background-position:left -30px; z-index:3;}
.pagination .nextEnd{ padding-right:18px; background-position:right -30px;}
.pagination .prev:hover,
.pagination .prev:active,
.pagination .prev:focus{ background-position:left -15px;}
.pagination .next:hover,
.pagination .next:active,
.pagination .next:focus{ background-position:right -15px;}
.pagination .prevEnd:hover,
.pagination .prevEnd:active,
.pagination .prevEnd:focus{ background-position:left -45px;}
.pagination .nextEnd:hover,
.pagination .nextEnd:active,
.pagination .nextEnd:focus{ background-position:right -45px;}
