@charset "utf-8";
/* OUIF : JCM */
/* Select */
.select{ position:relative; line-height:normal; display:inline-block; *display:inline; vertical-align:middle; background:#fff; *zoom:1;}
.select *{ margin:0; padding:0; cursor:pointer; font-size:12px; font-family:Tahoma, Sans-serif;}
.select i{ position:absolute; top:0; right:0; width:18px; height:21px; border-left:1px solid #eaeaea;}
.select i i{ width:0; height:0; top:9px; right:6px; line-height:0; font-size:0; border-top:3px solid #999; border-left:3px solid #fff; border-right:3px solid #fff;}
.select .selected{ position:relative; left:0; top:0; width:100%; height:21px; border:1px solid #bababa; color:#666; line-height:19px; _line-height:normal; text-align:left; text-indent:5px; *text-indent:0; *padding-left:5px; overflow:visible; background:transparent;}
.select ul{ display:none; position:absolute; top:20px; left:0; width:100%; border-top:1px solid #bababa; border-bottom:1px solid #bababa; background:#fff; list-style:none;}
.select.open ul{ display:block;}
.select li{ position:relative; height:17px; border-left:1px solid #bababa; border-right:1px solid #bababa;}
.select li .option{ width:100%; height:17px; line-height:17px;}
.select li label{ position:absolute; left:0; top:0; width:100%; text-indent:8px; *text-indent:6px; height:17px; line-height:17px; color:#767676; background:#fff;}
.select li a{ display:block; text-indent:8px; *text-indent:6px; height:17px; line-height:17px; color:#767676; background:#fff; text-decoration:none;}
.select li input:focus+label,
.select li label:hover,
.select li a:hover,
.select li a:active,
.select li a:focus{ background:#999; color:#fff;}
